.new-button {
  float: left;
  font-size: 3em;
  color: #0080ff;
}

.new-activity {
  /* display: none;*/
  float: left;
  width: 20%;
  position: relative;
  z-index: 10;
}

input {
  border: none;
  padding: 0.5em;
}

input[type='text']:focus{
  background: #cccccc;
  color: #0080ff;
  outline: none;
  border: 1px solid white;
  padding: 1em;
  width: 300px;
}
