.m-container { }

.m-wrapper {
  outline: 1px solid red;
}

.m-content {
  background: #e6e6e6;
  outline: 1px solid blue;
  width: 100%;
  margin-left: 20%;
  padding: 1em;
}

.new-activity {
  float: left;
  width: 20%;
}
