.m-container {
}

.m-wrapper {
  outline: 1px solid red;
}

.m-content {
  background: #e6e6e6;
  outline: 1px solid blue;
  width: 100%;
  /*margin-left: 5%;*/
  margin-left: 20%;
}

.m-gutter {
  background: #ffffff;
  width: 99%;
  height: 1em;
  font-size: 0.7em;
  padding: 0.5em;
  color: #999999;
}
